<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSDM Room Checker</title>
</head>
<body>

    <div id="dataGet">
        <p id="POD_boot"></p>
        <p id="proj_screen"></p>
        <p id="PC_sound"></p>
        <p id="ltop_plugin"></p>
        <p id="ltop_sound"></p>
        <p id="doc_view"></p>
        <p id="mic_sound"></p>
        <p id="tidy"></p>
        <p id="lights"></p>
        <p id="air_con"></p>
        <p id="PC_boot"></p>
        <p id="comments"></p>

    </div>

</body>
</html>